/* Getting the new tags to behave */


article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }


mark, rp, rt, ruby, summary, time{ display: inline }


/*

.blueOne {
    background-color: #127aa7;
}

.blueTwo{
    background-color:#e8f8ff ;
}

.blueThree{
	background-color: #064e6e; 
	}
.white{
	background-color:#8dddff;
	}
	
gray background:	#201f20;
*/


/* Global properties


---------------------------------------- */


body { 


	/*background:url(../images/body-bg.gif) top center repeat-y;*/

	background-color: #201f20;


	font-family: 'Josefin sans', sans-serif;


	font-size:1.0em; 


	line-height:1.75em;


	color:#a1a4a8;
	
	width: 100%;



}

.photoBack{
	height: 600px;
	width: 400px;
	float:left;
	vertical-align;bottom;
	background: url("../images/selfie2.jpg") center center fixed;
	background-repeat: no-repeat;
	background-size: contain;
}




html { min-width:1000px;}


html, body { height:100%;}





/* Global Structure


---------------------------------------- */

/*panels*/
panel{
	width:100%;
	min-height:100%;
	border:none;
	float:left;
	padding: 0px;
	margin:0px;
	background-color: #000; /*#201f20;*/
	background-repeat: no-repeat;
	position:center;
}

#homepage{
	background: url("../images/beach.jpg") center center fixed;
	
	
	background size:100%;
	background-repeat: no-repeat;
	min-height:100%;
}

#about{
	background-color: #127aa7;
	min-height:100%;
	border:none;
	background-image: url("../images/selfie4.png");
	background-size: 40%;
	background-position: bottom left;
}


#portfolio{
	background size:100%;
	border: none;
	background-color: #8dddff;
	min-height:66%;
}

#blog{
	
	border: none;
	/*background: url("../images/treeaisle.jpg");*/
	background-color:#064e6e; 
	background: cover;
	background height: 100%;
	/*background-repeat: no-repeat;	
	min-height:66%;*/
}

#projects{
	background size:100%;
	border: none;
	background-color: #e8f8ff;
}
#projects h3{
	color:#000; 
}

#portfolio h3{
	color:#000; 
}

#spotlightPage p{
	color:#000; 
}

	/* Header */


	header{


		min-height:208px;


		position:relative;


		z-index:20;


	}		
.narrowMargin{
	padding-left:5%;
	padding-right:5%;
}
/*portfolio slideshow*/

/*banner*/

.banner{
    width:100%; 
    height:auto;
    float:left;
    position:center;
    overflow:hidden;
    background: url("../images/EngHall.jpg") center center fixed;
    background-repeat:no-repeat;
    }
.bannerContent{
	float:left;
    margin-top:200px;
    text-indent: 25px;
    width: 100%;
    max-width: 1800px;
    background: center center fixed;
}

.banner span{
max-width:1600px;
display:block;
text-align:left;
font color:#fff;
background: center center fixed;
background-color: #000;
opacity:.6;

}
#bannerblog{
    width:100%; 
    height:450px;
    float:left;
    position:center;
    overflow:hidden;
    background-color:#000;
    /*background: url("../images/legoandshoe.png");*/
    background-repeat:no-repeat;
}
#bannerblogContent{
	width: 960px;
}


bannerHeader{
    width:100%; 
    height:210px;
    float:left;
    position:center;
    overflow:hidden;
    background-color:#064e6e;
    /*background: url("../images/legoandshoe.png");*/
    background-repeat:no-repeat;
    margin-bottom: 10px;
    
}
.bannerHeaderContent{
	height:75%;
	width:auto;
	
}

.bannerWelcome{
	margin-top:5%;
	background-color: #201f20;
	opacity:0.8;
}

.bannerHeaderContentWelcome{
	margin-top:0px;
	width:auto;
	padding:8px 0 0px 0;
	
}
.seeThrough{
	opacity: .6;
}
.bannerFooter{
	display: inline-block;
    width:100%; 
    height:100px;
    margin:auto;
    background-color:#201f20;
}

.bannerFooterContent{
	width:70%;
	margin:auto;
}




#sliding-navigation
{
/*	top: 45px;
	display: none;
	list-style-type: none;
	display: inline;
	position: absolute;
	margin-top: 170px;
	width: 140px;
	text-align: right;*/
	-webkit-transform: translate3d(0,0,0);
	/*z-index: 2;*/
	
	margin:			0;


	padding:		0;


	list-style:		none;


	background-color:#e8f8ff;

	border: none;
	position:relative;
	color:#127aa7;

	z-index:50;
}

#sliding-navigation li
{
	list-style-type: none;
	font-size:1.5em;
	font color: #127aa7;
	line-height:1.2307em;
	text-transform:uppercase;
}

#sliding-navigation ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

#sliding-navigation a
{
	text-decoration: none;
	float:left;
		display:inline-block;
		zoom:1;
		z-index:20;
		font color:#127aa7;
		padding:22px 32px 0px 34px;
		height:47px;
		margin-right:1px;
}

#sliding-navigation a.strong{
	font color:#127aa7;
}
/*
#sliding-navigation .sliding-element{
	font color: #127aa7;
	}
*/
.BlockColumn
{
columns:100px 2;
width:50%
-webkit-columns:100px 2; /* Safari and Chrome */
-moz-columns:100px 2; /* Firefox */
}

	/* Content */


	section#content {


		background:url(../images/content-bg.gif) top center repeat-y;


		position:relative;


		z-index:10;


		width:100%;


	}


			


/* Left & Right alignment */





.fleft { float:left;}


.fright { float:right;}


.clear { clear:both;}





.alignright { text-align:right;}


.aligncenter { text-align:center;}

/*vertical align*/
.alignmiddle{ margin-top:20%;}
.alignbottom{ vertical-align: bottom;}



.wrapper { 


	width:100%;


	overflow:hidden;


}





/* Paragraph styling */


p {	
font-family: 'Josefin Sans', sans-serif;
color:#fff;
font-size:1.5em;
padding-top:5px;
padding-bottom:2px;}








/*----- txt, links, lines, titles -----*/


a { color:#fff; outline:none; text-decoration:none;}


a:hover, a:focus { color: #D8D8D8;}


a:active, a:visited { }



a circle {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #FF9C5B;
    display: inline-block;
}
circle{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #FF9C5B;
    display: inline-block;
}

circle p{
	padding-top: 30px;
	vertical-align: middle;
}
.blueOne {
    background-color: #127aa7;/*#2b292a*/
}

.blueTwo{
    background-color:#e8f8ff ; /*#958f92;*/
}

.blueThree{
	background-color: #064e6e; /*#201f20;*/
	}
.white{
	background-color:#8dddff; /*#959193;*/
	/*border: 1px solid #064e6e;*/
	}
	
.largeCircle{
	height:200px;
	width:200px;
	border color: #e8f8ff;
	border size: 50px;
	position:relative;
	display: inline-block;
}	


p navigation{
	font-size:1.5em;
	font color: #127aa7;
	line-height:1.2307em;
	text-transform:lowercase;
	display: inline;
	
}

blockquote {


	margin:0 5px 0px 5px;


	padding:15px 4px 20px 10px;


	font-size:1.16em; 


	line-height:1.785em;


	color:#c5c6c8; 


	quotes:none;


}


blockquote.left {background:url(../images/divider.gif) right top repeat-y; width:35%; float:left; margin-right:20px; padding-right:30px; padding-left:0;}


blockquote.right {background:url(../images/divider.gif) left top repeat-y; width:35%; float:right; margin-left:0px; padding-left:40px; background-position:15px 0;}


blockquote.quote {padding:0px 0 26px 54px; margin-top:26px; line-height:1.785em; font-size:1.1666em; background:url(../images/quote-bg.gif) left 0px no-repeat; width:70%; }














ins {


    background-color:#5b5b5b;


    color:#fff;


    text-decoration:none;


	}





mark {


    background-color:#ff9;


    color:#000; 


    font-style:italic;


    font-weight:bold;


	}





del {


    text-decoration: line-through;


	color:#949494;


	}





abbr[title], dfn[title] {


    border-bottom:1px dotted #478ec2;


    cursor:help;


	color:#478ec2;


	text-transform:uppercase;


	}





strong   		   {color:#000;}


em, dfn  		   { color:#fefefe;}


dfn 	 		     { color:#a1a4a8; font-size:1em; letter-spacing:2px; }


sup, sub 		   { }


abbr, acronym  { color:#fff; text-transform:uppercase;}


address 		   { margin:0 0 1.5em;font-style:italic;}


del 			     { color:#949494;}


pre, code, tt  { font:1em 'andale mono', 'lucida console', monospace; line-height:1.5; display:block;}


code 			     { background-color:#f6f6f6; display:block; color:#000; padding:3px 2px 3px 5px; line-height:1.67em;  border:1px dotted #333;}


pre 			     { white-space:pre;}


q {color:#fefefe; letter-spacing:0px; font-family:"Courier New", Courier, monospace; font-size:1.13em;}


b {color:#949494;}


i {color:#949494;}


cite {color:#949494;}


small {font-size:0.785em; color:#949494}


big {font-size:2em;  color:#949494;}


sup {vertical-align:top; font-size:0.76em; color:#949494}


sub {vertical-align:bottom; font-size:0.76em; color:#949494}


kbd {color:#949494; font-size:0.916em; font-family:"Courier New", Courier, monospace;}


samp {color:#949494; font-size:0.916em; font-family:"Courier New", Courier, monospace;}


var {color:#949494;}





.inner {


	color:#000;


}


/* Custom select color */


::selection {


	background: #333;	 /* Safari */


	color:#fff;


	}


::-moz-selection {


	background: #333;


	color:#fff;/* Firefox */


	}








h1 {
	font-size:8.1666em;
	line-height:1.2307em;
	color:#fff;
	padding:2px 0 8px 0;
	/*text-transform:uppercase;*/
	letter-spacing:-1px;
}


	h1 em {
		color:#fff;
	}


	h1 strong {
		color:#fff;
	}


	h1 b {	
		display:block;
		margin-bottom:-20px;
	}


	.h1-pad {
		padding-top:0;
		margin-top:-10px;
	}


	.h1-pad1 {
		padding-bottom:8px;
	}





h2 {
	font-size:5.75em;
	line-height:1.2307em;
	color:#fff;
	/*text-transform:uppercase;*/
	padding:30px 0 25px 0;
	letter-spacing:-1px;
}	





h3 {
	font-size:4.75em;
	line-height:1.2307em;
	color:#fff;
	/*text-transform:uppercase;*/
	padding:0px 0 0px 0;	
	letter-spacing:-1px;
}


h4 {
	font-size:3.333em;
	line-height:1.2307em;
	color:#000;
	/*text-transform:uppercase;*/
	letter-spacing:-1px;
	padding:30px 0 30px 0;
}

h5 {
	font-size:2.666em;
	line-height:1.2307em;
	color:#000000;
	/*text-transform:uppercase;*/
	letter-spacing:-1px;
	padding:1px 0 0px 0;
}


	.h5-pad {
		padding-top:0;
		margin-top:-1px;
	}


	.h5-pad1 {
		padding-bottom:0px;
	}

h6 {
	font-size:1.666em;
	line-height:1.2307em;
	color:#000;
	/*text-transform:uppercase;*/
	letter-spacing:-1px;
	padding:5px 0 0px 0;
}





.typograph-title {


	font-size:3em;


	line-height:1.2307em;


	color:#fff;


	text-transform:uppercase;


	display:block;


	background:url(../images/hr.gif) left bottom repeat-x;


	padding:40px 0 20px 0;


}





/*  Header styles */





.logo {


	padding-top:16px;


	width:100%;


	overflow:hidden;


}


	.logo a {


		display:block;


		width:302px;


		height:108px;


		text-indent:-5000px;


		background:url(../images/logo.png) left top no-repeat;


		float:left;


	}





	.logo strong {


		display:block;


		margin:27px 0 0 20px;


		padding:34px 0 15px 20px;


		font-size:1.666em;


		line-height:1.2307em;


		float:left;


		color:#a3a3a3;


		text-transform:uppercase;


		background:url(../images/logo-bg.gif) left top no-repeat;


		letter-spacing:4px;


	}


/* Unordered list style


---------------------------------------- */


/* Layouts navigation */


.layouts-nav {width:100%; overflow:hidden; padding-bottom:30px !important; padding-top:30px;}


	.layouts-nav li { float:left; margin-right:20px; background:none !important; padding:0 !important;}


		.layouts-nav li a {


			float:left;


			background:#000;


			padding:2px 10px;


			color:#fff;


			text-decoration:none;


			border-radius:5px;


			-moz-border-radius:5px;


			-webkit-border-radius:5px;


			margin-right:10px;


			cursor:pointer;


			behavior: url(js/PIE.htc);


			position:relative;


			}


		.layouts-nav li a:hover {


			background:#CCC;


			color:#000;


			}





/* Ordered list style */


ol { padding-bottom:15px;}


	ol li { 


		list-style-position:outside;


		list-style-type:decimal-leading-zero;


		margin-left:24px;


		line-height:2.571em;


		font-size:1.1666em;


		color:#c5c6c8;	


		}


	 * + html ol li {


		 list-style-type:decimal


	 }


			ol li a {


				color:#c5c6c8;


				text-decoration:none;


				font-weight:normal;


			}


				ol li a:hover {


					text-decoration:underline;


				}





.margin {


	margin-top:30px;


}


.list_1 li {


	font-size:1.1666em;


	line-height:2.571em;


	background:url(../images/list_1-marker.png) left 10px no-repeat;


	padding-left:30px;


}


	.list_1 li a {


		color:#c5c6c8;


		text-decoration:none;


	}


	.list_1 li a:hover, .list_1 .current1 a {


		text-decoration:underline;


	}


		.list_1 li ul {


			padding-left:36px;


			padding-top:0px;


		}


			.list_1 li ul li {


				background:none;


				padding:0 0 0 0px;


				font-size:1em;


				line-height:2.142em;


				margin:0;


			}


			.list_1 li ul li a {


				background:none;


				padding:0;


			}


				.list_1 li ul li a:hover {


					background:none;


				}











dl dt {


	color:#c5c6c8 !important;


	font-weight:normal;


	line-height:1.5em;


	font-size:1.1666em;


}


	dl dd {


		padding:0 0 16px 0px;		


		font-size:1em;


		line-height:1.75em;


		color:#a1a4a8;


	}








/* Table styling */


table { width:100%; border:1px solid #818181; margin-top:20px;}


table thead th {


	text-align:center;


	background:url(../images/th-bg.png) repeat;


	padding:16px 0px 16px 0px;


	font-size:1.166em;


	font-weight:normal;


	color:#fff;


	border-right:1px solid #818181;


	border-bottom:none;


	}


table .tb-none {


	border-top:none;


}


table .right {


	border-right:1px solid #818181;


}


table tbody td {


	padding:7px 30px;


	background:url(../images/td-bg.png) repeat;


	text-align: left ;/*center;*/


	border:1px solid #fff;


	color:#a1a4a8;


	}


table tr:hover td {


	background-color:#FFF;


	}











/*  Dropcaps style */


.dropcap_1 {


	font-size:44px;


	line-height:1.2em;


	width:45px;


	color:#fff;


	font-weight:bold;


	display:block;


	float:left;


	height:50px;


	margin-top:-14px;


}


.dropcap_2 {


	font-size:44px;


	background:url(../images/dropcap.png) no-repeat 50% 0;


	text-align:center;


	width:52px;


	height:52px;


	line-height:1.2307em;


	color:#fff;	


	display:block;


	float:left;


	margin-right:14px;


	}


.dropcap_3 {


	font-size:70px;


	line-height:1.2em;


	width:65px;


	padding-left:10px;


	color:#a1a4a8;


	display:block;


	float:left;


	height:70px;


	margin-top:-14px;


}


.divider {


	background:url(../images/divider.gif) 335px 0px repeat-y


}


/*  Horizontal divider */


.hr {


	display:block;


	position:relative;


	padding:20px 0 30px 0;


	border:none;


	background:url(../images/hr.gif) 0 50% repeat-x;


	height:2px;


	overflow:hidden;


	font-size:12px;


	margin:0 0px 0 0;


	}


	.hr a {


		position:absolute;


		right:0;


		top:5px;


		text-transform:uppercase;


		font-family:Arial, Helvetica, sans-serif;


		text-decoration:none;


		background:url(../images/arrow-top.png) no-repeat 0 10px;


		padding-left:13px;


		color:#949494;


	}


	.hr a:hover { color:#666;}


	





/*  Buttons */


.button1 {


	display:inline-block;


	background:url(../images/button1-bg.gif) left top repeat-x #cecece;


	padding:8px 15px 6px 15px;


	font-size:0.916em;


	border-bottom:1px solid #e6e6e6;


	line-height:1.2307em;


	text-decoration:none;


	text-transform:uppercase;


	color:#5e6165;


	margin-top:26px;


	border-radius: 6px;


	-moz-border-radius: 6px;


	-webkit-border-radius: 6px;


	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);


	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);


	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);


	behavior: url(js/PIE.htc);


	position: relative;


	font-family:Arial, Helvetica, sans-serif;


	


}


	.button1:hover {


		background:#CCC;


	}





.button2 {


	display:inline-block;


	background:url(../images/button2-bg.gif) left top repeat-x #6c6c6c;


	padding:10px 15px 8px 15px;


	font-size:0.916em;


	line-height:1.2307em;


	text-decoration:none;


	text-transform:uppercase;


	border-bottom:1px solid #7d7d7d;


	color:#fff;


	font-family:Arial, Helvetica, sans-serif;


	margin-top:26px;


	border-radius: 6px;


	-moz-border-radius: 6px;


	-webkit-border-radius: 6px;


	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);


	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);


	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);


	behavior: url(js/PIE.htc);


	position: relative;


}


	.button2:hover {


		background:#6c6c6c;


	}





	


/* Blocks and Boxes style


---------------------------------------- */


/* Supported list */	


.supported-list {


	width:100%;


	overflow:hidden;


	}


	.supported-list li {


		float:left;


		background:url(../images/line-ver.gif) 100% repeat-y !important;


		padding:0 0 0 0 !important;


		width:195px;


		margin:0 0 0 12px;


	}


	.supported-list li.first {


		margin-left:0;


	}


	.supported-list li.last {


		padding-right:0;


		background:none !important;


		}


		.supported-list li .inside {


			padding:0 12px 0 0 !important;


		}


		.supported-list li p.img-wrapper {


			width:180px;


			height:114px;


			border:1px solid #c9c9c9;


			overflow:hidden;


			position:relative;


			}


			.supported-list li p.img-wrapper img {


				padding:0;


			}





/* Information box */


.info-box {


	padding:20px 30px 20px 110px;


	margin-bottom:20px;


	color:#fff;


	background:#2e5eca;


	border:1px solid #214baa;


	position:relative;


	height:1%;


	font-size:1.083em;


	line-height:1.5384em;


}


	.info-box p.icon {


		position:absolute;


		left:34px;


		top:-5px;


		margin:0;


	}





/* Download box */


.download-box {


	padding:20px 30px 20px 110px;	


	margin-bottom:20px;


	position:relative;


	height:1%;


	background:#79c11d;


	font-size:1.083em;


	line-height:1.5384em;


	border:1px solid #59960c;


	color:#fff;


}


	.download-box p.icon {


		position:absolute;


		left:34px;


		top:-4px;


		margin:0;


	}





/* Notification box */


.notification-box {


	padding:20px 30px 20px 110px;


	margin-bottom:20px;


	border:1px solid #d5660b;


	color:#fff;


	background:#fc7c14;


	position:relative;


	height:1%;


	font-size:1.083em;


	line-height:1.5384em;


	}


	.notification-box p.icon {


		position:absolute;


		left:34px;


		top:-4px;


		margin:0;


		}





/* Error message box */


.error-box {


	padding:20px 30px 20px 110px;


	margin-bottom:20px;


	border:1px solid #cd070b;


	color:#fff;


	background:#ee3d34;


	position:relative;


	height:1%;


	font-size:1.083em;


	line-height:1.5384em;


	}


	.error-box p.icon {


		position:absolute;


		left:34px;


		top:-5px;


		margin:0;


		}




















/* Header


---------------------------------------- */





/* Pages


---------------------------------------- */





/* 404 page */





.box-404 {


	background:url(../images/box-404-bg.jpg) left top no-repeat;


	height:390px;


	padding:64px 0 0 647px;


}


	.text {


		background:url(../images/divider.gif) left 10px repeat-y;


		padding:0 10px 20px 30px;


	}


	.text h5 {


		padding:0;


		margin:-10px 0 0 0


	}


	.text strong {


		font-size:1.3333em;


		line-height:1.2307em;


		color:#fff;


		display:block;


		margin-top:-4px;


	}


	.text1 {


		font-size:1.1666em;


		line-height:1.428em;


		color:#c5c6c8;


		padding-top:20px;


	}





/* Under Construction page =====*/


#constuction-box {


	width:800px;


	height:500px;


	position:relative;


	left:50%;


	top:50%;


	margin-left:-400px;


	margin-top:-250px;


	background:#f0eded;


	border-radius:15px;


	-moz-border-radius:15px;


	-webkit-border-radius:15px;


	border-color:#ccc;


	box-shadow:0 0 10px #999;


	-moz-box-shadow:0 0 10px #999;


	-webkit-box-shadow:0 0 10px #999;


	text-align:center;


	behavior:url(js/PIE.htc);


	}


	#constuction-box .inside {


		padding:10px 40px 40px 40px;


		}


		#constuction-box .button {


			position:relative;


			}


		#constuction-box h1 {


			text-align:center;


			margin-bottom:.2em;


			line-height:1.2em;


			letter-spacing: 2px;


			border-bottom: 1px solid #ddd;


			padding-bottom:10px;


			font-size:4em;


			padding:20px 0 0 0;


			}


			


			#constuction-box h1 em { 


				text-transform:uppercase;


				color:#000;


				font-size:1em;


				font-style:normal;


				display:block;


				margin-bottom:-15px;


			}


			#constuction-box h1 strong {


				padding:0;


				font-size:1em;


				color:#666


			}


			


	/* Countdown */


	#countdown_dashboard {


		height: 110px;


		padding:30px 0 40px 0;


		width:650px;


		margin:0 auto;


		position:relative;


		}


	.dash {


		width: 110px;


		height: 114px;


		background: transparent url('../images/dash.png') 0 0 no-repeat;


		float: left;


		margin-left: 20px;


		position: relative;


		}


	


	.dash .digit {


		font-size:75px;


		line-height:85px;


		font-weight: bold;


		float: left;


		width: 55px;


		text-align: center;


		font-family:"Times New Roman", Times, serif;


		color: #555;


		position: relative;


	}


		.dash .digit .bottom {


			font-size:75px;


			line-height:85px;


		}


	


	.dash_title {


		position: absolute;


		display: block;


		bottom: 0px;


		left:0;


		font-size: 12px;


		color: #555;


		text-transform: uppercase;


		letter-spacing: 2px;


		width:110px;


	}


	


	.dev_comment {


		font-size: 14pt;


		color: #777;


		text-align: center;


		font-style: italic;


		margin: 40px 10px;


	}


	


	#subscribe_form {


		position: relative;


	} 


	


	#email_field {


		font-size: 16pt;


		padding: 6px 10px;


		width: 300px;


	}


	


	#subscribe_button {


		font-size: 14pt;


		color: #333;


		padding: 4px 8px;


	}


	


	.copyright {


		font-size: 9pt;


		color: #333;


		margin: 40px 0px;


	}


	


	.faded {


		color: #999;


	}


	


	.form_message {


		width: 400px;


		padding: 10px;


		margin: 15px auto;


		display: none;


	}


	


	#error_message {


		background-color: #ffe;


		border-left: 5px solid #bb3;


		border-right: 5px solid #bb3;


		color: #770;


	}


	


	#info_message {


		background-color: #f0f9ff;


		border: 1px solid #eef;


	}


	


	#loading {


		text-align: center;


		margin: 10px;


		display: none;


		position: absolute;


		width: 100%;


		top: 60px;


	}





/* Intro page */


#intro-box {


	width:600px;


	height:400px;


	position:relative;


	left:50%;


	top:50%;


	margin-left:-300px;


	margin-top:-200px;


	background:#CCC;


	border-radius:15px;


	-moz-border-radius:15px;


	-webkit-border-radius:15px;


	border-color:#ccc;


	box-shadow:0 0 10px #999;


	-moz-box-shadow:0 0 10px #999;


	-webkit-box-shadow:0 0 10px #999;


	text-align:center;


	behavior:url(js/PIE.htc);


	float:left;


	}


	#intro-box .inside {


		padding:40px 40px 40px 40px;


		}


		#intro-box h2 {


			font-weight:700;


			text-align:center;


			font-size:4em;


			margin-bottom:.2em;


			line-height:1.2em;


			position:absolute;


			left:0;


			top:-110px;


			text-align:center;


			width:600px;


			overflow:hidden;


			height:100px;


			color:#fff;


			font-weight:normal;


			}


			#intro-box h1 span { 


				text-transform:uppercase;


				color:#1fb7c4;


				display:block;


				margin-bottom:-15px;


			}


		#intro-box .button1 {


			position:absolute;


			right:40px;


			bottom:20px;


			float:right;


			white-space:nowrap;


			}


		.intro-buttons {


			width:500px;


			padding:0 50px;


			position:absolute;


			left:0;


			bottom:50px;


			}


		#flash-intro {


			margin-bottom:20px;


			position:absolute;


			left:23px;


			top:20px;


			}





/* Content


---------------------------------------- */		


.flash {


	margin-top:1px;


}





/* boxes */


.boxes {


	color:#fff;	


}


	.boxes span {


		font-size:1.1666em;


		line-height:1.4285em;


		display:block;


		padding-top:14px;


	}


	.boxes .button1 {


		font-size:1.083em;


		padding:12px 24px 12px 24px;


		position:relative;


		margin-top:14px;		


	}





	.boxes .relative {


		padding:10px 0 0 0;


		clear:both;


		height:1%;


		text-align:center;


		margin:0;


	}


.boxes h1 {


	padding:10px 0 14px 0;


	letter-spacing:-2px;


	margin-left:-4px;


}


.box {


	float:left;


	width:312px;


	background:url(../images/box-bg.jpg) left top no-repeat #ff5617;


	border-top:1px solid #fe9363;


	border-left:1px solid #ff9564;


	margin:1px 1px 0 0;


	overflow:hidden;


}


	.box .indent {


		padding:0 40px 30px 30px;


	}


	


.box1 {


	float:left;


	width:311px;


	background:url(../images/box1-bg.jpg) left top no-repeat #63ad19;


	border-top:1px solid #9ccd65;


	border-left:1px solid #9ccd65;


	margin:1px 1px 0 0;


	overflow:hidden;


}


	.box1 .indent {


		padding:0 36px 30px 30px;


	}


.box2 {


	float:left;


	width:312px;


	background:url(../images/box2-bg.jpg) left top no-repeat #e9a510;


	border-top:1px solid #f3c65f;


	border-left:1px solid #f4c760;


	margin:1px 0px 0 0;


	overflow:hidden;


}


	.box2 .indent {


		padding:0 30px 30px 30px;


	}





/**/


.relative {


	position:relative;


}








.indent {


	padding:29px 0 20px 0;


	position:relative;


}


.indent1 {


	padding:24px 0 44px 0;


	position:relative;


}


.indent2 {


	padding:49px 0 20px 0;


	position:relative;


}





.col-indent {


	padding:0 0 0 30px;


}


.col-indent1 {


	padding:0 40px 0 0;


}





.divider1 {


	background:url(../images/divider.gif) 560px 0px repeat-y;


}


.divider2 {


	background:url(../images/divider.gif) 369px 0px repeat-y;


}





.font {


	font-size:1.1666em;


	line-height:1.785em;


	color:#c5c6c8;


}


.font1 {


	font-size:1.1666em;


	line-height:1.4285em;


	color:#c5c6c8;


}


	.font1 a {


		color:#c5c6c8;


		text-decoration:none;


	}


		.font1 a:hover {


			color:#fff;


		}


	.font1 strong {


		color:#c5c6c8;


		font-size:0.92em;


	}


	.font1 p {


		padding-top:23px;


	}





/*columns*/


.col-1 {

	display:block;
	float:left;
	width:50%;
	height:100%;
}

/*.col-1 img{
	width:100%;
}
*/
.col-1 span{

	/*width: 100%;
	min-height:300px;*/
		
font-family: 'Belleza', sans-serif;
font color:#000;

padding-top:5px;



}

.col-2 {

	display: block;
	float:right;
	width:50%;
	height:100%;

}

.col-2 img{
	height:inherit;
	padding-top: 20px;
}

.col-2 span{

	/*width: 100%;
	min-height:300px;*/
		
font-family: 'Belleza', sans-serif;
font color:#000;

padding-top:5px;



}

.col-3 {
	display:block;
	margin-right: 40px;
	float:left;
	width:250px;
}
.col-3 img{
margin: 20px 20px 20px 20px;
width:100%;
}

.col-3 span{
	text-align:center;
	text-indent:20px;
}


/**/


.date {


	display:block;


	width:70px;


	float:left;


	font-size:1em;


	line-height:1.2307em;


	color:#fff;


	height:70px;


	text-align:center;


	margin-right:20px;


	text-transform:uppercase;


	background:url(../images/date-bg.gif) left top repeat-x #686868;


	border-radius: 4px;


	-moz-border-radius: 4px;


	-webkit-border-radius: 4px;


	behavior: url(js/PIE.htc);


	position: relative;


	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);


	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);


	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);


}


	.date strong {


		font-size:4.1666em;


		line-height:1.2307em;


		color:#fff;


		display:block;


		margin:-5px 0 -10px 0;


	}


/*borders*/	


.border {


	background:url(../images/border-bg.gif) left bottom repeat-x;


	padding-bottom:15px;


	margin-bottom:15px;


}


.border1 {


	background:url(../images/border-bg.gif) left bottom repeat-x;


	padding-bottom:20px;


	margin-bottom:20px;


	width:100%;


}


.border2 {


	background:url(../images/border-bg.gif) left bottom repeat-x;


	padding-bottom:28px;


	margin-bottom:28px;


	width:100%;


}


.border3 {


	background:url(../images/border-bg.gif) left bottom repeat-x;


	padding-bottom:34px;


	margin-bottom:28px;


	width:100%;


}


.border4 {


	background:url(../images/border-bg.gif) left bottom repeat-x;


	padding-bottom:25px;


	margin-bottom:25px;


	width:100%;


}


/**/





.container {


	width:100%;


}


.button1-margin {


	margin-top:18px ;


}








/*tabs*/


.list_tab {


	padding-top:26px;	


	width:260px;


}


	.list_tab li {


		font-size:1.416em;


		line-height:2.36em;


		margin-bottom:10px;


		background:url(../images/tabs-li-a-bg.gif) left top repeat-x #6a6a6a;


		padding:0 0 0 20px;


		border-radius: 6px;


		-moz-border-radius: 6px;


		-webkit-border-radius: 6px;


		behavior: url(js/PIE.htc);


		position: relative;


		box-shadow: 0 2px 2px rgba(0, 0, 0, .4);


		-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);


		-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);


	}


		.list_tab li a {


			font-weight:bold;


			color:#fff;


			text-decoration:none;


			display:block;


		}


		.list_tab li:hover, .list_tab .current1  {


			background:url(../images/tabs-li-a-bg-hover.gif) left top repeat-x #afadad;


		}


/**/





/*pads*/


.pad {


	padding-top:20px;


}


.pad1 {


	padding-top:8px;


}


.pad2 {


	padding-top:14px;


}





.padding {


	padding-bottom:40px;


}


.padding1 {


	padding-bottom:22px;


}


.padding2 {


	padding-bottom:60px;


}


/**/





.banners {


	padding-top:15px;


}


	.banners a {


		display:inline-block;


		margin-top:20px;


	}


	


.link {


	color:#a1a4a8;


	text-decoration:none;


}


	.link:hover {


		color:#fff;


	}





.font1 .link1 {


	text-decoration:underline;


}


	.font1 .link1:hover {


		text-decoration:none;


	}


/* Lightbox image */


.lightbox-image {


	position:relative;


	overflow:hidden;


	display:block;


	}


	.lightbox-image img {


		position:relative;


		z-index:2;


		}


	.lightbox-image span {


		display:block;


		position:absolute;


		left:0;


		top:0;


		width:100%;


		height:100%;


		background:url(../images/magnify.png) no-repeat 50% 50%;


		z-index:1;


		}


		


/* Pagination */


.pagination {


	display:block;


	width:100%;


	overflow:hidden;


	}


	.pagination a {


		float:left;


		font-size:11px;


		color:#000;


		text-decoration:none;


		text-transform:uppercase;


		line-height:31px;


		padding-left:14px;


		}


	.pagination a:hover {


		text-decoration:underline;


		}


		.pagination ul {


			float:left;


			padding:0 3px 0 18px;


			}


			.pagination ul li {


				float:left;


				padding-left:1px;


				margin-right:1px;


				padding:0 0 0 0 !important;


				background:none !important;


				}


			.pagination ul li span {


				width:31px;


				float:left;


				text-align:center;


				color:#000;


				}


				.pagination ul li a {


					font-size:15px;


					color:#000;


					text-decoration:none;


					width:31px;


					line-height:31px;


					height:31px;


					text-align:center;


					background:#e9e9e9;


					padding:0;


					}


				.pagination ul li a:hover {


					background:#19b6c5;


					text-decoration:none;


					color:#fff;


					}








/* Other */


figure { 


	margin:0px 20px 0 0;


	background:#fff;


	float:left;





	}


	figure.none {


		margin:4px 0 0 0;


		float:none;


	}


	figure figcaption {


		color:#fff;


		font-size:2.083em;


		text-align:center;


		line-height:1.2307em;


		padding:6px 0 6px 0;


		text-transform:uppercase;


		margin-top:-44px;


		position:relative;


		z-index:3;


		width:175px !important;


		background:url(../images/figcaption-bg.png) repeat;


	}


	* + html figure figcaption {


		width:199px;


	}





figure.fright {


	float:right;


	margin:4px 0 0 16px;


	}





.extra-wrap { 


	width:100%;


	}


	


/* Footer


---------------------------------------- */


footer {


	height:91px;


	background:url(../images/footer-bg.gif) top center repeat-y;


	color:#76787b;


}	


	footer a {


		color:#76787b;


		text-decoration:none;


	}


		footer a:hover {


			text-decoration:underline;


		}


		footer span {


			color:#c5c6c8;


		}


	footer .fright {


		margin:15px 10px 0 0;


	}


	


/* Forms


---------------------------------------- */


#search-form {


	padding:55px 0px 0 0px;


	margin-left:-1px;


}


	#search-form fieldset {


		border:none;


	}


		#search-form label {


			display:inline-block;


			height:32px;


			background:url(../images/input-bg.gif) left top no-repeat;


			margin-right:2px;


		}


			#search-form input[type=text] {


				border:none;


				padding:7px 0 6px 0px;


				margin:0 5px;


				font-size:1em;


				line-height:1.2307em;


				background:none;


				color:#999;


				width:143px;


			}


			#search-form input {


				vertical-align:top;


			}


				


#search-form1 {


	padding:25px 0px 0 0px;


	margin-left:-1px;


}


	#search-form1 fieldset {


		border:none;


	}


		#search-form1 label {


			display:inline-block;


			height:32px;


			background:url(../images/search-input-bg1.gif) left top no-repeat;


			margin-right:2px;


		}


			#search-form1 input[type=text] {


				border:none;


				padding:7px 0 6px 0px;


				margin:0 10px;


				font-size:1em;


				line-height:1.2307em;


				background:none;


				color:#999;


				width:183px;


			}


			#search-form1 input {


				vertical-align:top;


			}


/* Forms default */


input, select, textarea { 


	font-family:Arial, Helvetica, sans-serif;


	font-size:1em;


	vertical-align:middle;


	font-weight:normal;


	}





/* Newsletter form */


#newsletter-form fieldset {


	border:none;


	}


	#newsletter-form .field {


		overflow:hidden;


		margin-bottom:8px;


		}


	#newsletter-form input[type=text] {


		width:175px;


		padding:3px 0 3px 5px;


		background:#4d4d4d;


		border:none;


		color:#a7a7a7;


		border-right:1px solid #000;


		border-left:1px solid #000;


		margin-right:3px;


	}


	#newsletter-form input[type=submit] {


		width:30px;


		height:22px;


		background:#fff;


		border:1px solid #000;


		border-radius:4px;


		-moz-border-radius:4px;


		-webkit-border-radius:4px;


		cursor:pointer;


		color:#2f2f2f;


		font-weight:bold;


		text-transform:uppercase;


		text-shadow:0 1px 0 #f1f1f1;


		}








/* Contact form */


 #contact-form {


	vertical-align:top;	


	padding-top:0px;


}


	#contact-form fieldset {


		border:none;


		}


		#contact-form .rowElem {


			display:block;			


			position:relative;


			padding-bottom:0px;


			height:41px;


			


			}


			#contact-form .textarea-box {


				display:inline-block;


				position:relative;


			}


			#contact-form input {


				width:337px;


				padding:7px 0px 7px 10px;


				background:url(../images/form-bg.png) repeat;


				border:1px solid #929191;


				font-size:1.1666em;


				line-height:1.2307em;


				color:#c5c6c8;


				}


				#contact-form .button1 {


					margin:30px 10px 0 20px;


				}


					#contact-form .color {


						color:#fff;


					}


			#contact-form textarea {


				width:518px;


				height:130px;


				padding:5px 0 0 10px;


				background:url(../images/form-bg.png) repeat;


				border:1px solid #929191;


				overflow:auto;


				display:block;


				color:#c5c6c8;


				font-size:1.16em;


				line-height:1.2307em;


				}


				#contact-form label {


					padding:0px 0 2px 5px;


					display:none;


					font-size:11px;


					position:absolute;


				}


				#contact-form .rowElem label {


					padding:0px 0 2px 5px;


					font-size:11px;


					position:absolute;


					right:0px;


					top:4px


				}


				#contact-form .textarea-box label {


					padding:0px 0 2px 5px;


					font-size:11px;


					position:absolute;


					left:0px;


					top:140px


				}


#contact-form .error {


				color:red;


			}





div#contact_form .download-box {


	margin:20px 30px 0 0;


	padding-top:20px


}


#back {


	display:inline-block;


	background:#000;


	padding:10px 16px 10px 16px;


	font-size:1em;


	line-height:1.2307em;


	text-decoration:none;


	font-weight:bold;


	color:#fff;


	margin-top:24px;


	font-family:Arial, Helvetica, sans-serif;


	cursor:pointer;


}





.adress {


	padding-top:20px;


	font-size:1.1666em;


	line-height:1.785em;


	color:#c5c6c8;


}


	.adress span {


		display:inline-block;


		width:100px;


	}


	.adress a {


		color:#c5c6c8;


	}


		.adress a:hover {


			text-decoration:none;


		}


	


/* Newsletter-form */


#newsletter-alt-form fieldset {


	border:none;


	padding-top:15px;


	}


	#newsletter-alt-form input[type=text] {


		width:215px;


		padding:7px 0 7px 10px;


		background:#f9f9f9;


		border:none;


		color:#686666;


		border:1px solid #e2e2e2;


		border-right:1px solid #bababa;


		border-left:1px solid #bababa;


		border-top:1px solid #bababa;


		border-radius:6px;


		-moz-border-radius:6px;


		-webkit-border-radius:6px;


		behavior:url(js/PIE.htc);


		margin-right:12px;


		font-size:12px;


		position:relative;


		}


	#newsletter-alt-form input[type=submit] {


		width:75px;


		height:32px;


		border:none;


		border-radius:20px;


		-moz-border-radius:20px;


		-webkit-border-radius:20px;


		behavior:url(js/PIE.htc);


		position:relative;


		cursor:pointer;


		color:#fff;


		font-weight:bold;


		font-size:12px;		


		background:#1d150d;


		line-height:1.2307em;


		font-family:Arial, Helvetica, sans-serif;


			}





/**/








/* SlideDown element */


.slideDown {


	padding:0 1px 0 0;


	width:100%;


	position:relative;


	}


	.slideDown dt {		


		background-image:url(../images/arrow1.gif);


		background-repeat:no-repeat;


		background-position:100% 16px;


		background-color:#151515;


		color: #fff !important;	


		padding:9px 0 9px 21px;


		margin-bottom:4px;


		font-weight:bold;


		text-decoration:none;


		display:block;


		font-size:12px;


		cursor:pointer;


		margin-bottom:10px;


	}


	.slideDown dt:hover, .slideDown dt.active {


		background-color:#535353;


		color:#fff;


		text-shadow:0 0 5px #fff;


	}


	.slideDown dt.active {


		background-image:url(../images/arrow2.gif);


	}





	.slideDown dd {


		display:none;


		padding:10px 20px 20px 20px;


	}


	.slideDown.absolute dd {


		position:absolute;


		background:#1e1c21;


		width:920px;


		z-index:100;


	}














/* Accordion */


dl#accordion {


	list-style-type:none;


	margin: 0;


	padding: 0 2px 0 0;


	height:auto !important;


}


	dl#accordion .indent {


		padding-top:7px !important;


		padding-bottom:5px !important;


		position:static;


		}





	dl#accordion a {


		display: block;


		text-decoration: none;	


		}





	dl#accordion dt {


		margin-top:1px;


		background:none;


		padding:0;


		}


		dl#accordion dt a {


			background-image:url(../images/arrow1.gif);


			background-repeat:no-repeat;


			background-position:100% 16px;


			background-color:#151515;


			color: #fff;	


			padding:9px 0 9px 21px;


			margin-bottom:4px;


			font-weight:bold;


			text-decoration:none;


			display:block;


			font-size:12px;


			}





		dl#accordion dt a:hover {


			background-color:#8e8d8b;


			color:#fff;


			}





		dl#accordion dt.active a{


			background-color:#ccc;


			background-image:url(../images/arrow2.gif);


			color:#333;


			}





	dl#accordion dd {


		display:none;


		margin-bottom:0;


	}


		dl#accordion dd .indent {


			padding:10px 30px 14px 20px !important;


		}


		dl#accordion dd a {


			display:inline;


			background:none;


			padding:0;


			width:auto;


			text-decoration:underline;


		}


		dl#accordion dd a:hover {


			text-decoration:none;


			background:none;


		}








/* Tooltips */


.aToolTip {


	border:1px solid #FFF;


	background:#CCC;


	color:#000;


	margin:0;


	padding:2px 8px;


	font-size:11px;


	}





.aToolTip .aToolTipContent {


	position:relative;


	margin:0;


	padding:0;


	}





a.aToolTipCloseBtn {


	display:block;


	height:20px;


	width:20px;


	overflow:hidden;


	background:url(../images/close.gif) no-repeat;


	text-indent:-9999px;


	outline:none;


	position:absolute;


	top:-15px;


	right:-20px;


	}








/* Coin Slider */


#coind-slider { overflow:hidden;}


.coin-slider { 


	overflow: hidden;


	zoom: 1;


	position: relative;


	padding-bottom:30px;


	}


.coin-slider a { text-decoration: none; outline: none; border: none; }





.cs-buttons { 


	font-size: 0px;


	padding: 10px;


	float: left;


	}


	.cs-buttons a { 


		margin-left: 5px;


		height: 10px;


		width: 10px;


		float: left;


		border: 1px solid #000;


		background:#fff;


		color: #fea900;


		text-indent: -9999em; 


		border-radius:6px;


		position:relative;


		-moz-border-radius:6px;


		-webkit-border-radius:6px;


		behavior: url(js/PIE.htc);


		


	}


	.cs-buttons a:hover,


	.cs-buttons a.cs-active { 


		background-color: #666;


		border: 1px solid #000;


		color: #fff;


		}





	.cs-title { 


		width:100%; 


		padding: 10px 0; 


		background-color: #000;


		color: #fff;


		text-indent:10px;


		}





	.cs-prev, 


	.cs-next { 


		background-color: #000;


		color: #fff;


		padding: 0px 10px;


	}


	.cs-prev:hover,


	.cs-next:hover { background:#666;}





#text_slider div {


	background:none !important;


}


/* Gallery */


#galleryfic_gallery {


	padding-bottom:50px;


	width:100%;


	overflow:hidden;


	}


	div.content {


		/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */


		display: none;


		width: 940px; 


		position:relative;


		z-index:10;


		margin-bottom:20px;


	}


		div.content a, div.navigation a {


			text-decoration: none;


			color: #777;


		}


		div.content a:focus, div.content a:hover, div.content a:active {


			text-decoration: underline;


		}


	div.slideshow-container {


		position: relative;


		clear: both;


		height: 610px; /* This should be set to be at least the height of the largest image in the slideshow */


		z-index:10


	}


		.advanced_gallery div.slideshow-container {


			width:610px;


			overflow:hidden;


		}


	div.loader {


		position: absolute;


		top: 0;


		left: 0;


		background-repeat: no-repeat;


		background-position: center;


	}


	div.slideshow {


		height: 610px;


		width:940px;


		overflow:hidden;


	}


	div.slideshow span.image-wrapper {


		display: block;


		position: absolute;


		top: 0;


		left: 0;


		height: 610px;


		width:940px;


	}


	div.slideshow a.advance-link {


		display: block;


		width: 940px;


		height: 610px; /* This should be set to be at least the height of the largest image in the slideshow */


		text-align: center;


		overflow:hidden;


	}


	div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {


		text-decoration: none;


	}


	div.slideshow img {


		position:absolute;


		left:0;


		top:0;


		padding:4px;


		border:1px solid #ddd;


	}


	.advanced_gallery div.slideshow img {


			border:none;


			margin-left:-100px;


		}


	div.slideshow.noborder img {


		padding:0;


		border:none;


	}


	div.slideshow.simple span.image-wrapper {


		left:0;


	}


	div.caption-container {


		position: relative;


		clear: left;


		height:40px;


	}


		.advanced_gallery div.caption-container {


			position:absolute;


			right:0;


			top:0;


			width:330px;


		}


	span.image-caption {


		display: block;


		position: absolute;


		width: 400px;


		top: 0;


		left: 0;


	}


	div.caption {


		padding:10px 70px 0 30px;


		overflow:hidden;


	}


	div.caption h2 {


		background:url(../images/png-bg.png) repeat;


	}


	div.image-desc {


		font-size:10px;


		text-transform:uppercase;


		float:right;


		padding:8px 0 0 0;


	}


	div.navigation {


		/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */


	}


	ul.thumbs {


		clear: both;


		margin: 0;


		padding: 0;


	}


	ul.thumbs li {


		float: left;


		padding:1px !important;


		background:none !important;


		list-style: none;


		margin:0 10px 0 0;


		margin-bottom:4px;


	}


	ul.thumbs li.last {


		padding-right:0;


	}


	a.thumb {


		display: block;


	}


	ul.thumbs li.selected a.thumb {


	}


	a.thumb:focus {


		outline: none;


	}


	ul.thumbs img {


		border: none;


		display: block;


		border:1px solid #ddd;


		padding:2px;


	}








/* Kwicks */


.kwicks-wrapper {


	width:940px;


	overflow:hidden;


}


	.kwicks-box {


		border:1px solid #323232;


		padding:12px;


		}


	


	.kwicks {


		/* recommended styles for kwicks ul container */


		list-style: none;


		position: relative;


		margin: 0;


		padding: 0 !important;


		overflow:hidden;


		height:600px;


		background:#000;


		}


	.kwicks li{


		/* these are required, but the values are up to you (must be pixel) */


		width: 188px;


		height: 600px;


		/*do not change these */


		display: block;


		overflow: hidden;


		padding: 0 !important;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */


		cursor:pointer;


		opacity:.5;


		filter: alpha(opacity=50);


		background:none !important;


		}


	.kwicks li.active {


		opacity:1;


		filter: alpha(opacity=100);


		}


	.kwicks.horizontal li {


		/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */


		margin-right: 0; /*Set to same as spacing option. */	


		float: left;


		}	


	


	.kwicks_vertical {


		/* recommended styles for kwicks ul container */


		list-style: none;


		position: relative;


		margin: 0;


		padding: 0 !important;


		overflow:hidden;


		width:950px;


		height:396px;


		background:#000;


		}


	.kwicks_vertical li{


		/* these are required, but the values are up to you (must be pixel) */


		height: 196px;


		/*do not change these */


		display: block;


		overflow: hidden;


		padding: 0 !important;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */


		cursor:pointer;


		float:none;


		opacity:.5;


		filter: alpha(opacity=50);


		}


	.kwicks_vertical li.active {


		opacity:1;


		filter: alpha(opacity=100);


		}







/* Superfish Dropdown Menu */


nav {


	background-color:#e8f8ff;


	border:none;


	height:69px;


	margin-top:13px;


}





.sf-menu {


	margin:			0;


	padding:		0;


	list-style:		none;


	background:none;


	position:relative;


	z-index:50;


}


.sf-menu li {


	float:left;


	font-size:1.5em;
	



	line-height:1.2307em;


	text-transform:uppercase;


	background:url(../images/nav-li-bg.gif) right 1px no-repeat;


}


.sf-menu .last {


	padding-right:0


}








	.sf-menu li a {


		text-decoration:none;


		display:inline-block;


		zoom:1;


		z-index:20;


		color:#000;


		padding:22px 32px 0px 34px;


		height:47px;


		margin-right:1px;


	}


	.typography li a {


		padding:22px 53px 0px 58px;


	}


		.sf-menu li a strong {


			color:#000;


		}


	.sf-menu .last {


		background:none;


	}


		.sf-menu .last a {


			padding-right:28px;


		}


		.typography .last a {


			padding-right:50px;


			margin-right:0


		}


	 .sf-menu li .current  {


		background:url(../images/nav-li-a-hover.png) repeat;


	}


		.sf-menu li a:hover, .sf-menu li.sfHover a {

			color:#fff;
			background:url(../images/sf-hover.gif) left top repeat-x;


		}


		


.sf-menu ul {


	position:absolute;


	border:none;


	width:594px;


	padding:0px 0 0px 346px;


	background:url(../images/menu-png-bg.png) repeat;


	display:none;


	


}








.sf-menu ul ul {


	position:absolute;


	width: 167px;


	border:none;


	display:none;


	padding:0;


	background:url(../images/menu-png-bg.png) repeat;


}


	


.typography ul {


	position:absolute;


	border:none;


	width:754px;


	padding:0px 0 0px 186px;


	background:url(../images/menu-png-bg.png) repeat;


	display:none;


}








.sf-menu li:hover {


	visibility:		inherit; /* fixes IE7 'sticky bug' */


}





.sf-menu li li {


	font-size:0.666em;


	line-height:1.23em;


	border:none;


	background:none !important;


	padding:0px 19px 0px 0;


	float:left;


	cursor:pointer;


	text-transform:uppercase;


}


.sf-menu li li li {


	font-size:1em;


	padding:0 0 0 10px;


}


.sf-menu li li a {


	background:url(../images/sf-menu-li-li-a-bg.png) left 11px no-repeat !important;


	color:#cbcbcb;


	overflow:hidden;


	display:block;


	margin-bottom:1px;


	width:auto;


	padding:7px 0px 0px 11px;


	height:23px;


}	





	.typography li.last li a {


		padding-right:11px;


	}


* + html .sf-menu li li.m1 a{


	width:90px ;


}


* + html .sf-menu li li.m2 a{


	width:150px ;


}





.sf-menu li li li a {


	padding-left:11px;


	color:#cbcbcb !important;


}


	.sf-menu li li a:hover, .sf-menu li li.sfHover a, .sf-menu li li .current {


		color:#F00


	}


	


	


		.sf-menu li li li a:hover, .sf-menu li li li .current {


			color:#F00 !important


		}


	


.sf-menu li li:last-child a {


	border-bottom:none;


}





.sf-menu li:hover ul,


.sf-menu li.sfHover ul {


	left:			-1px;


	top:			70px; /* match top ul list item height */


	z-index:		99;


}


ul.sf-menu li:hover li ul,


ul.sf-menu li.sfHover li ul {


	top:			-999em;


}


ul.sf-menu li li:hover ul,


ul.sf-menu li li.sfHover ul {


	left:			336px; /* match ul width */


	top:			32px;


}


	


ul.typography li li:hover ul,


ul.typography li li.sfHover ul {


	left:			176px; /* match ul width */


	top:			32px;


}





ul.sf-menu li li:hover li ul,


ul.sf-menu li li.sfHover li ul {


	top:			-999em;


}


ul.sf-menu li li li:hover ul,


ul.sf-menu li li li.sfHover ul {


	left:			10em; /* match ul width */


	top:			0;


}


.sf-menu li:hover, .sf-menu li.sfHover,


.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {


	outline:		0;


}


.sf-menu a.sf-with-ul {


	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */


}





.sf-sub-indicator {


	position:		absolute;


	display:		block;


	right:			-10px;


	width:			10px;


	height:			10px;


	text-indent: 	-999em;


	overflow:		hidden;


	background:url(../images/sf-ul-li-a-bg.gif) no-repeat 0 0;


}


.sf-menu .sf-sub-indicator {


	display:none;


}


	.sf-menu ul .sf-sub-indicator {


		display:block;


	}


a > .sf-sub-indicator {  /* give all except IE6 the correct values */


	top:50%;


	margin-top:-2px;


}





/* point right for anchors in subs */


.sf-menu ul .sf-sub-indicator { right:5px !important;}


.sf-menu ul a > .sf-sub-indicator { background:url(../images/sf-ul-li-a-bg.gif) no-repeat 0 0;}








/* Tabs */


.tabs {


	clear: left;


	float: left;


	margin: 15px 0 0px 0;


	padding-bottom:30px;


	}


	.tabs ol {


		list-style-type: decimal;


		margin: 0 0 0 20px;


		}


		.tabs ol li {


			display: list-item;


			float: none;


			padding-bottom:5px !important;


			color:#000;


			font-size:1em;


			line-height:1.5385em;


			list-style-type:decimal;


			font-weight:normal;


			}


	


	.tabs ul.nav { width:100%;}


		


	.tabs ul {


		float: left;


		list-style: none;


		margin: 0 0 5px 0 !important;


		padding:0 0 0 0 !important;


		}


		.tabs li {


			display: block;


			float: left;


			margin: 0 5px 0 0;


			background:none !important;


			padding:0 0 0 0 !important;


			}


		.tabs .selected {


			margin-bottom: -5px;


			position: relative;


			z-index:10;


			}


		.tabs .selected a {


			background: #f0f0f0;


			color: #000;


			padding-bottom: 10px;


			}


		.tabs a:hover {


			background: #f0f0f0;


			color: #000;


			}





		.tabs a {


			background:#000;


			color: #fff;


			display: block;


			padding:5px 10px;


			text-decoration: none;


			}





	.tabs .tab-content {


		background: #f0f0f0;


		clear: both;


		max-width:700px;


		width:auto;


		overflow:auto;


		}


		.tabs .tab-content .inner {


			padding:10px;


			}


	


	.tabs p { margin-bottom: 5px; }


	.tabs .tab-content strong { color:#000;}


	


	.tabs pre {


		margin:4px 0;


	}


	.tabs code {


		overflow:auto;


	}


	*+html .tabs code { overflow:visible;}








/* Twitter */


#twitter {


	margin-bottom: 2em;


	color:#000


	}





	#twitter h2 {


		margin: 0 0 5px 0;


		padding:.5em 1em;


		font-size: 1.5em;


		color: #fff;


		background-color: #888;


		letter-spacing:0;


		border-radius:10px;


		-moz-border-radius:10px;


		-webkit-border-radius:10px;


		}





	#preloader {


		margin: 0;


		padding: 1em 1em 1em 3em;


		text-indent:10px;


		background: transparent url(../images/loader.gif) 1em center no-repeat;


		/* generate your own loader gif: http://www.ajaxload.info */


		}





	ul#twitter_update_list {


		margin: 0;


		padding: 0 0 0.5em 0;


		list-style-type: none;


		}


		ul#twitter_update_list li {


			margin: 0;


			padding: 0.8em 0 1em 1em !important;


			background:#CCC;


			margin-bottom:7px;


			}


		ul#twitter_update_list li:hover {


			background-color:#666;


			color:#fff;


			}


			ul#twitter_update_list li:hover a {


				color:#000;


				}





			ul#twitter_update_list li a {


				/* timestamp link */


				color: #000;


				}


			


				ul#twitter_update_list li span {


					display: block;


					}


				


				ul#twitter_update_list li span a {


					/* links in tweet */


					color: #fff;


					}


				


			ul#twitter_update_list li.firstTweet {


				


				}


			ul#twitter_update_list li.lastTweet {


				border-bottom: none;


				}


			


			a#profileLink {


				display: block;


				padding: 0.3em 1em;


				color: #fff;


				background-color: #000;


				}








/* Elements list */


.elements-list li {


	background:none !important;


	padding:0 0 12px 0 !important;


	position:relative;


	font-size:1em;


	}


	.elements-list li code {


		position:absolute;


		right:0;


		top:-3px;


		padding:2px 3px 1px 3px;


		border:1px dotted #333;


		}











/*======================================================*/





/* Code grabber */


.code {


	padding:30px 0 10px 0;


}


	.code a.code-icon {


		margin-bottom:10px;


	}


	.code a.code-icon i {


		padding-right:6px;


		font-style:normal;


	}


	.code div.grabber {


		display:none;


	}


	.code code {


		padding:0 10px 0 10px;


		background:#f6f6f6;


		color:#333;


		border:1px solid #dfdfdf;


		white-space:pre;


		overflow:auto;


	}





/* Advanced Menu */


#advanced {


	position:fixed;


	z-index:999;


	right:-172px;


	top:50px;


	background:#181818;


	padding:20px 16px 20px 18px;


	width:135px;


	font-size:11px;


	line-height:1.6em;


	font-family:Tahoma, Geneva, sans-serif;


	color:#dfdfdf;


	-webkit-border-radius: 0px 0 0 6px;


	-moz-border-radius: 0px 0 0 6px;


	border-radius: 0px 0 0 6px;


}


	#advanced span.trigger {


		display:block;


		position:absolute;


		left:-81px;


		top:20px;


		margin-top:-25px;


		width:81px;


		height:52px;


		background:#fff;


		cursor:pointer;


		text-align:center;


		background:url(../images/panel/adv-trigger.png) no-repeat 0 0;


	}


		#advanced span.trigger strong {display:block; padding:4px 0 0 0;}


		#advanced ul li {


			background:url(../images/panel-arrow.gif) no-repeat 0 6px;


			padding:0 0 0 13px;


			font-size:12px;


		}


		#advanced ul li.trigger_adv {


			padding:0 0 0 0;


		}


			#advanced ul li.trigger_adv > span {


				background:url(../images/panel-arrow2.gif) no-repeat 100% 8px #636363;


				border-radius:3px;


				-moz-border-radius:3px;


				-webkit-border-radius:3px;


				padding:0 20px 0 12px;


				color:#dfdfdf;


				font-weight:bold;


				display:inline-block;


			}


			


		#advanced ul li a {


			color:#4393d0;


			text-decoration:none;


		}


		#advanced ul li a:hover {


			text-decoration:underline;


		}


		#advanced ul ul {


			margin-left:13px;


		}


			#advanced ul ul li {


				font-size:11px;


				background:url(../images/panel-arrow1.gif) no-repeat 0 7px;


			}


			#advanced ul ul a {


				text-transform:capitalize;


				color:#dfdfdf;


			}


			#advanced ul ul ul {


				margin-left:8px;


			}


			#advanced ul ul ul li {


				background:none;


				}


			#advanced ul ul ul li a {


				color:#939393;


			}

