<div class="container-fluid" id="about">
	<div class="row">
		<div class = "row col-sm-6 col-sm-offset-3">	
			<img src = "/assets/images/Optimized-pygmalion.jpeg" class = "col-sm-12 col-md-12 photo"/>
			<div class = "text-center">
				<h1 class = "playful"> About Me </h1>	
				<p> &emsp; I recently graduated from the University of Illinois, Urbana-Champaign with a degree in Electrical Engineering. Seven year old me wanted to be a paleontologist and could give my family a personalized tour of the dinosaur exhibits at the Chicago Field Museum. I eventually decided to pursue a degree in engineering because I believed the idea that engineers can 'do anything.'</p>
				<p>&emsp;My free time is spent designing and redesigning this website and applying for jobs all while listening to Harry Potter audiobooks (read by the great Jim Dale) with unhealthy repetition. </p>
				<p>&emsp;I recently completed 19 weeks of intensive web development coursework at Dev Bootcamp. I am seeking the opportunity to grow as a developer in an entry-level position.</p>
			</div>
		</div>
	</div>
</div>