<div class = "container-fluid" id = "landing">
	<div class = "vertical-center">
		<h1 class = "playful text-center">Stephanie Chou <small>Eat, Code, Repeat</small></h1>
		<br/>
		<div class= "row">
			<div class="col-lg-4 col-lg-offset-4 text-center">
				<div class= "col-sm-3 col-xs-3 col-md-3">
					<a href="https://github.com/Stephanie-Chou" target="_blank"><i class="white fa fa-github fa-2x"></i></a>
				</div>
				<div class= "col-sm-3 col-xs-3 col-md-3">
					<a href="https://www.linkedin.com/in/stephaniechou1" target="_blank"><i class="white fa fa-linkedin fa-2x"></i></a>
				</div>
				<div class= "col-sm-3 col-xs-3 col-md-3">
					<a href="#portfolio"><i class="white fa fa-briefcase fa-2x"></i></a>
				</div>
				<div class= "col-sm-3 col-xs-3 col-md-3">
					<a href="mailto:stephanie.chou@outlook.com"><i class="white fa fa-envelope fa-2x"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class= "container-fluid block" id="portfolio">
	<div class="row">
		<h1 class="playful text-center">Portfolio</h1>
		<br/>
		<div class= "col-md-8 col-md-offset-2">
			<div class="media">
			  <a class="pull-left" href="http://flipside.herokuapp.com" target="_blank">
			    <img class="media-object" src="/assets/images/flipside.png"/>
			  </a>
			  <div class="media-body">
			    <a href="http://flipside.herokuapp.com" target="_blank"><h4 class="media-heading">FlipSide</h4></a>
			     Dev Bootcamp final 8 day project. Web application news feed which brings together differing sides of the story.  Uses Google News scraper and the Alchemy API for natural language processing. Wrote a program which compared scraped news articles based on their keywords and sentiment and displayed the maximally dissimilar articles as pairs, giving users multiple perspectives on the major issues of the day. On our frontend, we used a combination of React and D3.js to create a interactive user interface and visualize user data.
			  		<a href = "https://github.com/bobolinks-2014/FlipSide"> source code</a>
			  </div>
			</div>
			<div class="media">
			  <a class="pull-left" href="http://gasulator.herokuapp.com" target="_blank">
			    <img class="media-object" src="/assets/images/gasulator.png"/>
			  </a>
			  <div class="media-body">
			    <a href="http://gasulator.herokuapp.com" target="_blank"><h4 class="media-heading">Gasulator</h4></a>
			     Dev Bootcamp 5 day project. Web application for to compare the true price of different cars based on your commute gas usage. Includes feature to compare price of car commute to approximate price of public transit (limited to chicagoland area).
			     Used Rails, jquery, Google Maps API, Google Transit API, Foundation
			    <a href = "https://github.com/bobolinks-2014/bespectacled_lampshade"> source code</a>

			  </div>
			</div>
			<div class="media">
			  <a class="pull-left" href="http://getyummy.herokuapp.com" target="_blank">
			    <img class="media-object" src="/assets/images/yum.png"/>
			  </a>
			  <div class="media-body">
			    <a href="http://getyummy.herokuapp.com" target="_blank"><h4 class="media-heading">Yum!</h4></a>
			     <p>Your friends know you best, including what you like to eat! This web app lets your friends provide recommendations specifically to you. And you can tell them where you think they should go. No more wandering into a new city wondering "Will I really enjoy this?"</p>

			     <p>Fun tidbit: Uses polling. When someone makes a recommendation, it instantly shows up in your recommendation feed.</p>

			     <p>Used Rails, jquery, React JS, Yelp API</p>
			    <a href = "https://github.com/Stephanie-Chou/Yum"> source code</a>

			  </div>
			</div>
			<div class="media">
			  <a class="pull-left" href="http://fizzbuzzword.herokuapp.com" target="_blank">
			    <img class="media-object" src="/assets/images/fizzbuzzword.png"/>
			  </a>
			  <div class="media-body">
			    <a href="http://fizzbuzzword.herokuapp.com" target="_blank"><h4 class="media-heading">FizzBuzzword</h4></a>
			     <p>Buzzwords are everywhere. Buzzword is probably a buzzword in its own right. FizzBuzzword is a socially conscious effort to end the Buzzwordiness starting with you! Log in with LinkedIn and it will replace all buzzwords such as "strategic" and "innovative" with the word Buzzword.</p>
			     <p> In addition, it will replace the words 'I' and 'My' with Fizz. Even though your LinkedIn is all about you, starting every sentence by talking about yourself hurts the reader after a while.</p>

			     <p>There's a <a href = "https://github.com/jkeslin/buzz-chrome-ext" target="_blank">Chrome extension</a> (unpublished) of this app. It buzzes out all buzzwords on any web page you visit. Warning: don't use it when you are researching companies. You'll find out just how many buzzwords they use.</p>

			     <p>Used Ruby, jQuery, LinkedIn Oauth</p>
			    <a href = "https://github.com/Stephanie-Chou/FizzBuzzword"> source code</a>

			  </div>
			</div>
			<div class="media">
			  <a class="pull-left" href="http://www.cubeillinois.com" target="_blank">
			    <img class="media-object" src="/assets/images/cube.png"/>
			  </a>
			  <div class="media-body">
			    <a href="http://www.cubeillinois.com" target="_blank"><h4 class="media-heading">CUBE Consulting</h4></a>
			    Main Website. Used to recruit new members and share with potential clients.
			  </div>
			</div>
			<div class="media">
			  <a class="pull-left" href="https://www.youtube.com/watch?v=kqFGDEM2fDc" target="_blank">
			    <img class="media-object" src="/assets/images/seniordesign.png"/>
			  </a>
			  <div class="media-body">
			    <a href="https://www.youtube.com/watch?v=kqFGDEM2fDc" target="_blank"><h4 class="media-heading">UIUC Senior Design</h4></a>
			    Designed a shoe for the elderly which can be put on without bending over. Back of the shoe opens and closes. Wrote android application to control the shoe motor via bluetooth. Other features include temperature safety module and inductive charging.
			  </div>
			</div>
			<div class="media">
			  <a class="pull-left" href="http://stephanie-chou.github.io/HATShaiti" target="_blank">
			    <img class="media-object" src="/assets/images/hatshaiti.png"/>
			  </a>
			  <div class="media-body">
			    <a href="http://stephanie-chou.github.io/HATShaiti" target="_blank"><h4 class="media-heading">Hands Across the Sea - Haiti</h4></a>
				The organization was looking for a new website to show the wonderful work they are doing in that country. They also wanted to incorporate social media into their website as well to decimate what they were doing with the funds they receive.
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="panel-footer">
	<div class= "container text-center">
		Designed by Stephanie Chou
	</div>
</div>
