<div class = "container-fluid" id = "landing">
	<h1 class = "playful text-center">Stephanie Chou <small class = "white">Eat, Code, Repeat</small></h1>
	<br/>
	<div class= "row">
		<div class="col-lg-4 col-lg-offset-4 text-center">
			<div class= "col-sm-3 col-xs-3 col-md-3">
				<a href="https://github.com/Stephanie-Chou" target="_blank"><i class="white fa fa-github fa-lg"></i></a>
			</div>
			<div class= "col-sm-3 col-xs-3 col-md-3"> 
				<a href="https://www.linkedin.com/in/stephaniechou1" target="_blank"><i class="white fa fa-linkedin fa-lg"></i></a>
			</div>
			<div class= "col-sm-3 col-xs-3 col-md-3"> 
				<a href="#portfolio"><i class="white fa fa-briefcase fa-lg"></i></a>
			</div>
			<div class= "col-sm-3 col-xs-3 col-md-3"> 
				<a href="mailto:stephanie.chou@outlook.com"><i class="white fa fa-envelope fa-lg"></i></a>
			</div>
		</div>
	</div>
</div>

<div class= "container-fluid block" id="portfolio">
	<div class="row">
		<h1 class="playful text-center">Portfolio</h1>
		<br/>
		<div class= "col-md-8 col-md-offset-2">	
			<div class="media">
			  <a class="pull-left" href="http://flipside.herokuapp.com" target="_blank">
			    <img class="media-object" src="/assets/images/flipside.png"/>
			  </a>
			  <div class="media-body">
			    <a href="http://flipside.herokuapp.com" target="_blank"><h4 class="media-heading">FlipSide</h4></a>
			     Dev Bootcamp final 8 day project. Web application news feed which brings together differing sides of the story.  Uses Google News scraper and the Alchemy API for natural language processing. Wrote a program which compared scraped news articles based on their keywords and sentiment and displayed the maximally dissimilar articles as pairs, giving users multiple perspectives on the major issues of the day. On our frontend, we used a combination of React and D3.js to create a interactive user interface and visualize user data. 
			  		<a href = "https://github.com/bobolinks-2014/FlipSide"> source code</a>
			  </div>
			</div>
				<div class="media">
				  <a class="pull-left" href="http://gasulator.herokuapp.com" target="_blank">
				    <img class="media-object" src="/assets/images/gasulator.png"/>
				  </a>
				  <div class="media-body">
				    <a href="http://gasulator.herokuapp.com" target="_blank"><h4 class="media-heading">Gasulator</h4></a>
				     Dev Bootcamp 5 day project. Web application for to compare the true price of different cars based on your commute gas usage. Includes feature to compare price of car commute to approximate price of public transit (limited to chicagoland area).
				     Used Rails, jquery, Google Maps API, Google Transit API, Foundation
				    <a href = "https://github.com/bobolinks-2014/bespectacled_lampshade"> source code</a>
				     
				  </div>
				</div>
				<div class="media">
				  <a class="pull-left" href="http://www.cubeillinois.com" target="_blank">
				    <img class="media-object" src="/assets/images/cube.png"/>
				  </a>
				  <div class="media-body">
				    <a href="http://www.cubeillinois.com" target="_blank"><h4 class="media-heading">CUBE Consulting</h4></a>
				    Main Website. Used to recruit new members and share with potential clients.
				  </div>
				</div>
				<div class="media">
				  <a class="pull-left" href="https://www.youtube.com/watch?v=kqFGDEM2fDc" target="_blank">
				    <img class="media-object" src="/assets/images/seniordesign.png"/>
				  </a>
				  <div class="media-body">
				    <a href="https://www.youtube.com/watch?v=kqFGDEM2fDc" target="_blank"><h4 class="media-heading">UIUC Senior Design</h4></a>
				    Designed a shoe for the elderly which can be put on without bending over. Back of the shoe opens and closes. Wrote android application to control the shoe motor via bluetooth. Other features include temperature safety module and inductive charging.
				  </div>
				</div>
				<div class="media">
				  <a class="pull-left" href="http://stephanie-chou.github.io/HATShaiti" target="_blank">
				    <img class="media-object" src="/assets/images/hatshaiti.png"/>
				  </a>
				  <div class="media-body">
				    <a href="http://stephanie-chou.github.io/HATShaiti" target="_blank"><h4 class="media-heading">Hands Across the Sea - Haiti</h4></a>
					The organization was looking for a new website to show the wonderful work they are doing in that country. They also wanted to incorporate social media into their website as well to decimate what they were doing with the funds they receive. 
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel-footer">
	<div class= "container text-center">
		Designed by Stephanie Chou
	</div>
</div>
